/* Kleuren Definities */
:root {
    --color-background: #1a1a1a; /* Achtergrondkleur van de pagina */
    --color-text: #f4f4f4; /* Kleur van de tekst */
    --color-primary: #ff1a1a; /* Primaire kleur (rood) */
    --color-secondary: #ffcc00; /* Secundaire kleur (geel) */
    --color-dark: #333; /* Donkere achtergrondkleur voor secties */
    --color-light: #fff; /* Witte kleur voor tekst en achtergrond */
    --color-hover: #e60000; /* Hoverkleur voor knoppen */
    --color-border: #444; /* Kleur van de randen en tabelborders */
    --color-row-hover: #555; /* Achtergrondkleur van rijen bij hover in tabellen */
    --color-modal-background: #fff; /* Achtergrondkleur van de modal */
    --color-modal-text: #333; /* Tekstkleur in de modal */
}

/* Algemene Stijlen */
body {
    font-family: 'Arial', sans-serif; /* Fonttype voor de hele pagina */
    background-color: var(--color-background); /* Achtergrondkleur van de pagina */
    color: var(--color-text); /* Kleur van de tekst */
    margin: 0; /* Verwijder standaard marge */
    padding: 0; /* Verwijder standaard padding */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Flex items verticaal plaatsen */
    align-items: center; /* Centreer items horizontaal */
    justify-content: center; /* Centreer items verticaal */
    min-height: 100vh; /* Minimaal hoogte van de viewport */
}

.header {
    width: 100%; /* Volledige breedte van de container */
    padding: 30px; /* Ruimte binnen de header */
    text-align: center; /* Tekst centreren */
    background-color: var(--color-primary); /* Achtergrondkleur van de header */
    color: var(--color-light); /* Kleur van de tekst in de header */
    font-size: 3em; /* Grootte van de headertekst */
    font-weight: bold; /* Vetgedrukte tekst */
    text-transform: uppercase; /* Hoofdletters voor de tekst */
    letter-spacing: 3px; /* Ruimte tussen de letters */
    display: flex; /* Flexbox layout */
    justify-content: center; /* Centreer items horizontaal */
    align-items: center; /* Centreer items verticaal */
}

.left-align {
    margin-right: 20px; /* Ruimte aan de rechterkant */
    margin-left: 30px; /* Ruimte aan de linkerkant */
}

.right-align {
    margin-left: 20px; /* Ruimte aan de linkerkant */
}

.countdown {
    width: 80%; /* Zorg ervoor dat de breedte van de countdown 80% van het scherm is */
    max-width: 1200px; /* Maximaal toegestane breedte van de countdown */
    margin: 20px auto; /* Centreer de countdown horizontaal met automatische marges aan beide zijden */
    padding: 60px; /* Binnenruimte rondom de countdown */
    background-color: var(--color-dark); /* Achtergrondkleur van de countdown */
    border: 4px solid var(--color-primary); /* Randkleur en dikte */
    border-radius: 10px; /* Hoekradius van de rand */
    box-shadow: 0px 0px 20px 5px rgba(255, 26, 26, 0.5); /* Schaduw van de countdown */
    font-size: 0.8rem; /* Lettergrootte van de tekst */
    text-align: center; /* Tekst centreren */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Flex items verticaal plaatsen */
    justify-content: center; /* Centreer items verticaal */
    align-items: center; /* Centreer items horizontaal */
}

.countdown-text {
    font-weight: bold; /* Vetgedrukte tekst */
    color: var(--color-secondary); /* Kleur van de countdown-tekst */
    font-size: 6em; /* Grote tekstgrootte voor countdown */
}

.next-session {
    margin-top: 10px; /* Ruimte tussen countdown en sessiebeschrijving */
    color: var(--color-secondary); /* Kleur van de sessiebeschrijving */
    font-size: 4em; /* Grote tekstgrootte voor sessiebeschrijving */
    white-space: pre-line; /* Zorgt ervoor dat tekst op een nieuwe regel begint */
    font-weight: bold; /* Vetgedrukte tekst */
}

.table-container {
    width: 90%; /* Breedte van de tabelcontainer */
    margin-top: 10px; /* Ruimte boven de tabel */
}

table {
    width: 100%; /* Volledige breedte van de tabel */
    border-collapse: collapse; /* Verwijder dubbele randen */
    background-color: var(--color-dark); /* Achtergrondkleur van de tabel */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Schaduw van de tabel */
    border-radius: 10px; /* Hoekradius van de tabel */
    overflow: hidden; /* Verwijder overloop */
}

th, td {
    padding: 20px; /* Binnenruimte van cellen */
    border-bottom: 1px solid var(--color-border); /* Onderkantrand van cellen */
    text-align: left; /* Tekst uitlijnen aan de linkerkant */
    font-size: 1.5em; /* Lettergrootte van de cellen */
}

th {
    background-color: var(--color-primary); /* Achtergrondkleur van tabelkoppen */
    color: var(--color-light); /* Kleur van de tekst in tabelkoppen */
    text-transform: uppercase; /* Hoofdletters voor de tekst in tabelkoppen */
}

td {
    color: var(--color-text); /* Kleur van de tekst in cellen */
}

.date-header {
    background-color: var(--color-secondary); /* Achtergrondkleur van datumkoppen */
    text-align: center; /* Tekst centreren */
    font-weight: bold; /* Vetgedrukte tekst */
    padding: 20px; /* Binnenruimte */
    color: var(--color-primary); /* Kleur van de tekst in datumkoppen */
    font-size: 1.8em; /* Grote tekstgrootte voor datumkoppen */
}

tr:nth-child(even) {
    background-color: var(--color-dark); /* Achtergrondkleur van even rijen */
}

tr:hover {
    background-color: var(--color-row-hover); /* Achtergrondkleur bij hover */
}

.footer {
    margin-top: 30px; /* Ruimte boven de footer */
    padding: 20px; /* Binnenruimte van de footer */
    width: 100%; /* Volledige breedte van de footer */
    text-align: center; /* Tekst centreren */
    background-color: var(--color-dark); /* Achtergrondkleur van de footer */
    color: var(--color-secondary); /* Kleur van de tekst in de footer */
    font-size: 1.5em; /* Lettergrootte van de footertekst */
}

.footer-buttons {
    margin-bottom: 10px; /* Ruimte tussen knoppen en "Powered by" tekst */
}

.footer-powered {
    font-size: 1.2em; /* Vergrote lettergrootte voor de "Powered by" tekst */
    color: var(--color-secondary); /* Kleur van de tekst in de "Powered by" sectie */
    margin-top: 10px; /* Ruimte boven de "Powered by" tekst */
}

.action-button,.delete-button, .modal-close, #open-modal-button, #open-file-button {
    background-color: var(--color-primary); /* Achtergrondkleur van knoppen */
    color: var(--color-light); /* Kleur van de tekst op knoppen */
    border: none; /* Geen rand om knoppen */
    border-radius: 5px; /* Hoekradius van knoppen */
    padding: 15px; /* Binnenruimte van knoppen */
    cursor: pointer; /* Cursor verandert in pointer bij hover */
    font-size: 1.2em; /* Lettergrootte van knoppen */
}

.action-button,.delete-button:hover, .modal-close:hover, #open-modal-button:hover, #open-file-button:hover {
    background-color: var(--color-hover); /* Achtergrondkleur van knoppen bij hover */
}

.modal {
    display: none; /* Modal standaard verborgen */
    position: fixed; /* Modal op een vaste positie */
    top: 50%; /* Verticale positie van modal */
    left: 50%; /* Horizontale positie van modal */
    transform: translate(-50%, -50%); /* Centreer modal */
    width: 90%; /* Breedte van de modal */
    max-width: 800px; /* Maximale breedte van de modal */
    background-color: var(--color-modal-background); /* Achtergrondkleur van de modal */
    color: var(--color-modal-text); /* Kleur van de tekst in de modal */
    border-radius: 10px; /* Hoekradius van de modal */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Schaduw van de modal */
    z-index: 1000; /* Zet de modal boven andere elementen */
    padding: 40px; /* Binnenruimte van de modal */
    box-sizing: border-box; /* Zorg ervoor dat padding en border inbegrepen zijn in de breedte */
    font-size: 1.5em; /* Lettergrootte van de tekst in de modal */
}

.modal-overlay {
    display: none; /* Overlay standaard verborgen */
    position: fixed; /* Overlay op een vaste positie */
    top: 0; /* Overlay bovenaan de pagina */
    left: 0; /* Overlay aan de linkerkant van de pagina */
    width: 100%; /* Volledige breedte van de pagina */
    height: 100%; /* Volledige hoogte van de pagina */
    background-color: rgba(0, 0, 0, 0.5); /* Achtergrondkleur van de overlay */
    z-index: 999; /* Zet de overlay onder de modal */
}

.modal-header {
    font-size: 2em; /* Lettergrootte van de header in de modal */
    margin-bottom: 20px; /* Ruimte onder de modal-header */
}

.modal-body {
    margin-bottom: 30px; /* Ruimte onder de modal-body */
}

.modal-form input, .modal-form textarea {
    width: calc(100% - 20px); /* Breedte van input- en textarea-elementen */
    margin-bottom: 15px; /* Ruimte onder elk formulier element */
    padding: 15px; /* Binnenruimte van formulier elementen */
    border: 1px solid #ddd; /* Randkleur van formulier elementen */
    border-radius: 5px; /* Hoekradius van formulier elementen */
    box-sizing: border-box; /* Zorg ervoor dat padding en border inbegrepen zijn in de breedte */
    font-size: 1.2em; /* Lettergrootte van formulier elementen */
}

.modal-form button {
    background-color: var(--color-primary); /* Achtergrondkleur van knoppen in de modal */
    color: var(--color-light); /* Kleur van de tekst op knoppen in de modal */
    border: none; /* Geen rand om knoppen in de modal */
    border-radius: 5px; /* Hoekradius van knoppen in de modal */
    padding: 15px; /* Binnenruimte van knoppen in de modal */
    cursor: pointer; /* Cursor verandert in pointer bij hover */
    font-size: 1.2em; /* Lettergrootte van knoppen in de modal */
}

.modal-form button:hover {
    background-color: var(--color-hover); /* Achtergrondkleur van knoppen in de modal bij hover */
}

#file-input {
    display: none; /* Bestand input-element standaard verborgen */
}
