/* Kleuren Definities */
:root {
    --color-background: #1a1a1a; /* Achtergrondkleur van de pagina */
    --color-primary: #ff1a1a; /* Primaire kleur (rood) */
    --color-secondary: #ffcc00; /* Secundaire kleur (geel) */
    --color-dark: #333; /* Donkere achtergrondkleur voor secties */
    --color-light: #fff; /* Witte kleur voor tekst en achtergrond */
    --color-hover: #e60000; /* Hoverkleur voor knoppen */
    --color-row-hover: #555; /* Achtergrondkleur van rijen bij hover in tabellen */
}

/* Algemene Stijlen */
body {
    font-family: 'Arial', sans-serif; /* Lettertype voor de hele pagina */
    background-color: var(--color-background); /* Achtergrondkleur van de pagina */
    color: var(--color-light); /* Kleur van de tekst */
    margin: 0; /* Verwijder de standaard marge */
    padding: 0; /* Verwijder de standaard padding */
    display: flex; /* Flexbox voor de uitlijning */
    flex-direction: column; /* Verander de flex richting naar kolom */
    align-items: center; /* Centreer items horizontaal */
    justify-content: center; /* Centreer items verticaal */
    min-height: 100vh; /* Zorg dat de body ten minste 100% van de viewport hoogte heeft */
    text-align: center;
}

.left-align {
    margin-right: 20px; /* Voeg rechter marge toe */
    margin-left: 20px; /* Voeg linker marge toe */
}

.countdown {
    width: 90%;
    max-width: 800px; /* Voeg een maximale breedte toe */
    padding: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(255, 26, 26, 0.5);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.countdown-text {
    font-weight: bold;
    color: var(--color-secondary);
    font-size: 3em;
}

.next-session {
    margin-top: 10px;
    color: var(--color-secondary);
    font-size: 1.5em;
    white-space: pre-line;
    font-weight: bold;
}

.table-container {
    width: 95%;
    margin: 10px auto; /* Gebruik auto voor horizontale centrering */
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-dark);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid var(--color-dark);
    text-align: left;
    font-size: 0.53em;
}

th {
    background-color: var(--color-primary);
    color: var(--color-light);
    text-transform: uppercase;
}

td {
    color: var(--color-light);
}

.date-header {
    background-color: var(--color-secondary); /* Achtergrondkleur van datumrijen */
    text-align: center; /* Centreer de tekst */
    font-weight: bold; /* Maak de tekst vet */
    padding: 10px; /* Voeg padding toe rondom */
    color: var(--color-primary); /* Kleur van de tekst */
    font-size: 0.7em; /* Vergroot de lettergrootte */
}

tr:nth-child(even) {
    background-color: var(--color-dark); /* Achtergrondkleur van even rijen */
}

tr:hover {
    background-color: var(--color-row-hover); /* Achtergrondkleur van rijen bij hover */
}

.footer {
    margin-top: 30px; /* Voeg bovenmarge toe */
    padding: 20px; /* Voeg padding toe rondom */
    width: 100%; /* Maak de footer full-width */
    background-color: var(--color-dark); /* Achtergrondkleur van de footer */
    color: var(--color-secondary); /* Kleur van de tekst in de footer */
}

.footer-buttons {
    margin-bottom: 8px; /* Voeg ondermarge toe */
    font-size: 0.6em;
}

.footer-powered {
    font-size: 1.2em; /* Vergroot de lettergrootte van powered tekst */
    color: var(--color-secondary); /* Kleur van de powered tekst */
    margin-top: 15px; /* Voeg bovenmarge toe */
}
/* Voeg een CSS stijl toe voor de link in de footer */
.footer-powered a {
    color: var(--color-secondary); /* Kleur van de link, gelijk aan de rest van de tekst in de footer */
    text-decoration: none; /* Verwijder onderlijning van de link */
}

.footer-powered a:hover {
    text-decoration: underline; /* Voeg onderlijning toe bij hover */
}

.action-buttons {
    display: flex; /* Flexbox voor de knoppen */
    gap: 10px; /* Voeg ruimte toe tussen de knoppen */
}

.edit-button, .action-button, .delete-button, .modal-close, #open-modal-button, #open-file-button {
    background-color: var(--color-primary); /* Achtergrondkleur van de knoppen */
    color: var(--color-light); /* Kleur van de tekst op de knoppen */
    border: none; /* Verwijder de rand */
    border-radius: 5px; /* Ronde hoeken van de knoppen */
    padding: 8px; /* Voeg padding toe rondom */
    cursor: pointer; /* Verander de cursor naar pointer */
    font-size: 0.8em; /* Vergroot de lettergrootte */
}

.edit-button:hover, .action-button:hover, .delete-button:hover, .modal-close:hover, #open-modal-button:hover, #open-file-button:hover {
    background-color: var(--color-hover); /* Hoverkleur van de knoppen */
}

.modal {
    display: none; /* Verberg de modal standaard */
    position: fixed; /* Positioneer de modal vast op het scherm */
    top: 50%; /* Zet de modal in het midden van het scherm van boven naar beneden */
    left: 50%; /* Zet de modal in het midden van het scherm van links naar rechts */
    transform: translate(-50%, -50%); /* Centreer de modal horizontaal en verticaal */
    width: 90%; /* Breedte van de modal */
    max-width: 800px; /* Maximale breedte van de modal */
    background-color: var(--color-light); /* Achtergrondkleur van de modal */
    color: var(--color-background); /* Tekstkleur in de modal */
    border-radius: 10px; /* Ronde hoeken van de modal */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Schaduw rondom de modal */
    z-index: 1000; /* Zet de modal boven andere elementen */
    padding: 40px; /* Voeg padding toe rondom */
    box-sizing: border-box; /* Zorg ervoor dat padding en border bij de breedte en hoogte worden geteld */
    font-size: 0.6em; /* Vergroot de lettergrootte in de modal */
}

.modal-overlay {
    display: none; /* Verberg de overlay standaard */
    position: fixed; /* Positioneer de overlay vast op het scherm */
    top: 0; /* Zet de overlay aan de bovenkant van het scherm */
    left: 0; /* Zet de overlay aan de linkerkant van het scherm */
    width: 100%; /* Maak de overlay full-width */
    height: 100%; /* Maak de overlay full-height */
    background-color: rgba(0, 0, 0, 0.5); /* Achtergrondkleur van de overlay met transparantie */
    z-index: 999; /* Zet de overlay onder de modal */
}

.modal-header {
    font-size: 1rem; /* Vergroot de lettergrootte van de modal header */
    margin-bottom: 20px; /* Voeg ondermarge toe */
    position: relative; /* Zet de positie naar relatieve zodat kinderen absoluut gepositioneerd kunnen worden */
}

.modal-body {
    display: flex; /* Flexbox voor de modal body */
    flex-direction: column; /* Flex richting naar kolom */
    align-items: center; /* Centreer items horizontaal */
}

.modal-body input[type="date"],.modal-body input[type="time"],.modal-body input[type="text"] {
    width: 100%; /* Zorg dat inputs de breedte van de modal gebruiken */
    max-width: 800px; /* Stel een maximale breedte in voor inputs */
    padding: 15px; /* Voeg padding toe rondom de inputs */
    font-size: 1.5em; /* Vergroot de tekst in de inputs */
    border-radius: 5px; /* Ronde hoeken van de inputs */
    border: 1px solid var(--color-dark); /* Randkleur van de inputs */
    box-sizing: border-box; /* Zorg ervoor dat padding en border bij de breedte en hoogte worden geteld */
}

.modal-body button {
    background-color: var(--color-primary); /* Achtergrondkleur van de knoppen */
    color: var(--color-light); /* Kleur van de tekst op de knoppen */
    border: none; /* Verwijder de rand */
    border-radius: 5px; /* Ronde hoeken van de knoppen */
    padding: 10px 30px; /* Vergroot de padding van de knoppen */
    cursor: pointer; /* Verander de cursor naar pointer */
    font-size: 1em; /* Vergroot de tekstgrootte van de knoppen */
    margin: 10px; /* Voeg marge toe rondom de knoppen */
}

.modal-body button:hover {
    background-color: var(--color-hover); /* Hoverkleur van de knoppen */
}

#file-input {
    display: none; /* Verberg het file input element */
}

/* Responsiveness */
@media only screen and (min-width: 768px) {
    .countdown-text {
        font-size: 4em;
    }
    .next-session {
        font-size: 3em;
    }
    .date-header {
        padding: 15px; /* Voeg padding toe rondom */
        font-size: 2.5em; /* Vergroot de lettergrootte */
    }
    .edit-button, .action-button, .delete-button, .modal-close, #open-modal-button, #open-file-button {
        padding: 20px; /* Voeg padding toe rondom */
        font-size: 1.5em; /* Vergroot de lettergrootte */
    }
    .footer-buttons {
        margin-bottom: 1px; /* Voeg ondermarge toe */
        font-size: 1.2em;
    }
    .modal {
        font-size: 1.2em; /* Vergroot de lettergrootte in de modal */
    }
    .modal-header {
        font-size: 2rem; /* Vergroot de lettergrootte van de modal header */
    }
    .modal-body button {
        font-size: 1.5em; /* Vergroot de tekstgrootte van de knoppen */
        padding: 15px 30px; /* Vergroot de padding van de knoppen */
    }
}

@media only screen and (min-width: 1024px) {
    .countdown {
        padding: 80px;
    }
    .countdown-text {
        font-size: 6em;
    }
    .next-session {
        font-size: 4em;
    }
    th, td {
        padding: 10px;
        font-size: 2em;
    }
    .footer {
        font-size: 1.5rem;
    }
    .footer-buttons {
        margin-bottom: 1px; /* Voeg ondermarge toe */
        font-size: 1em;
    }
    .edit-button, .action-button, .delete-button, .modal-close, #open-modal-button, #open-file-button {
        padding: 10px; /* Voeg padding toe rondom */
        font-size: 0.8em; /* Vergroot de lettergrootte */
    }
    .modal {
        font-size: 1.2em; /* Vergroot de lettergrootte in de modal */
    }
    .modal-header {
        font-size: 2rem; /* Vergroot de lettergrootte van de modal header */
    }
    .modal-body button {
        font-size: 1.5em; /* Vergroot de tekstgrootte van de knoppen */
        padding: 15px 30px; /* Vergroot de padding van de knoppen */
    }
}
